
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Daily Challenge</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Liste des Users</h1>
    <table>
      <thead>
        <tr>
          <th>CODE</th>
          <th>Name</th>
          <th>UserName</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Website</th>
          <th>company Name</th>
          <th>company catchPhrase</th>
          <th>company Bs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async ">
          <th>{{ user?.id }}</th>
          <td>{{ user?.name }}</td>
          <td>{{ user?.username }}</td>
          <td>{{ user?.email }}</td>
          <td>{{ user?.phone }}</td>
          <td>{{ user?.website}}</td>
          <td>{{ user?.company.name}}</td>
          <td>{{ user?.company.catchPhrase}}</td>
          <td>{{ user?.company.bs}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</ion-content>

